# Nuestro Playbook

<div>
  <img src="http://placehold.it/700x350"/>
</div>


# <a id="welcome"></a>Bienvenido

Este es nuestro playbook, un [documento viviente](https://github.com/icalialabs/playbook)
de nuestras prácticas, dinámicas y rituales dentro de [Icalia Labs](http://icalialabs.com).
Decidimos compartir estos detalles ya que Transparencia y Apertura son parte de nuestros valores clave, además de que servirá de referencia para otros equipos visionarios y pequeños de que empezar algo no tiene limitantes.

El principal objetivo de este playbook es compartir la forma en la que trabaja nuestra compalía. A pesar de que este no es un playbook que encajará en todo tipo de organizaciones existentes o por existir, ha funcionado para nosotros como proveedor de servicios de Software, y esperamos que pueda ayudar como punto de referencia a empezar una compañía.

<h1 id="about" class="article-title">Acerca de Nosotros</h1>
<p><%= partial "content/welcome/about" %></p>

<h1 id="management" class="section-title">Administración</h1>
<ul>
  <li>
    <h1 id="mgmt-tools" class="article-title">Herramientas de Administración</h1>
    <p><%= partial "content/management/tools" %></p>
  </li>
  <li>
    <h1 id="grooming" class="article-title">Priorizando Productos</h1>
    <p><%= partial "content/management/grooming" %></p>
  </li>
  <li>
    <h1 id="mgmt-sales" class="article-title">Involucramiento en Ventas</h1>
    <p><%= partial "content/management/sales-involvement" %></p>
  </li>
</ul>

<h1 id="sales" class="section-title">Ventas</h1>
<ul>
  <li>
    <h1 id="process" class="article-title">Proceso</h1>
    <p><%= partial "content/sales/process" %></p>
  </li>
  <li>
    <h1 id="leads" class="article-title">Prospectos</h1>
    <p><%= partial "content/sales/leads" %></p>
  </li>
  <li>
    <h1 id="estimates" class="article-title">Estimaciones</h1>
    <p><%= partial "content/sales/estimates" %></p>
  </li>
  <li>
    <h1 id="target-market" class="article-title">Nichos y Mercado</h1>
    <p><%= partial "content/sales/target-market" %></p>
  </li>
  <li>
    <h1 id="bundles" class="article-title">Servicios Productizados</h1>
    <p><%= partial "content/sales/bundled-services" %></p>
  </li>
  <li>
    <h1 id="commissions" class="article-title">Comisiones</h1>
    <p><%= partial "content/sales/commissions" %></p>
  </li>
</ul>

<h1 id="icalier-way" class="section-title">Proceso: the Icalier Way</h1>
<ul>
  <li>
    <h1 id="mvp" class="article-title">MVP</h1>
    <p><%= partial "content/process/mvp" %></p>
  </li>
  <li>
    <h1 id="existing-projects" class="article-title">Proyectos Existentes</h1>
    <p><%= partial "content/process/existing-projects" %></p>
  </li>
  <li>
    <h1 id="consultancy" class="article-title">Consultoría</h1>
    <p><%= partial "content/process/consultancy" %></p>
  </li>
</ul>

<h1 id="design" class="section-title">Diseño</h1>
<ul>
  <li>
    <h1 id="setup" class="article-title">Configuración</h1>
    <p><%= partial "content/design/setup" %></p>
  </li>
  <li>
    <h1 id="branding" class="article-title">Marca Digital</h1>
    <p><%= partial "content/design/branding" %></p>
  </li>
  <li>
    <h1 id="uiux" class="article-title">Experiencia de Usuario e Interfaces</h1>
    <p><%= partial "content/design/uiux" %></p>
  </li>
  <li>
    <h1 id="prototyping" class="article-title">Prototipado</h1>
    <p><%= partial "content/design/prototyping" %></p>
  </li>
  <li>
    <h1 id="interaction" class="article-title">Interacción con Desarrollo</h1>
    <p><%= partial "content/design/interaction" %></p>
  </li>
  <li>
    <h1 id="design-tools" class="article-title">Herramientas de Diseño</h1>
    <p><%= partial "content/design/tools" %></p>
  </li>
</ul>

<h1 id="development" class="section-title">Desarrollo</h1>
<ul>
  <li>
    <h1 id="dev-intro" class="article-title"></h1>
    <p><%= partial "content/development/dev-intro" %></p>
  </li>
  <li>
    <h1 id="dev-setup" class="article-title">Configuración</h1>
    <p><%= partial "content/development/setup" %></p>
  </li>
  <li>
    <h1 id="guides" class="article-title">Guías</h1>
    <p><%= partial "content/development/guides" %></p>
  </li>
  <li>
    <h1 id="web-apps" class="article-title">Aplicaciones Web</h1>
    <p><%= partial "content/development/web-apps" %></p>
  </li>
  <li>
    <h1 id="mobile-apps" class="article-title">Aplicaciones Móviles</h1>
    <p><%= partial "content/development/mobile-apps" %></p>
  </li>
  <li>
    <h1 id="best-practices" class="article-title">Mejores Prácticas</h1>
    <p><%= partial "content/development/best-practices" %></p>
  </li>
</ul>

<h1 id="production" class="section-title">Producción</h1>
<ul>
  <li>
    <h1 id="maintenance" class="article-title">Mantenimiento</h1>
    <p><%= partial "content/production/maintenance" %></p>
  </li>
  <li>
    <h1 id="metrics" class="article-title">Métricas</h1>
    <p><%= partial "content/production/metrics" %></p>
  </li>
  <li>
    <h1 id="delivery" class="article-title">Continuous Delivery</h1>
    <p><%= partial "content/production/continuous-delivery" %></p>
  </li>
  <li>
    <h1 id="deployment" class="article-title">Despliegue</h1>
    <p><%= partial "content/production/deployment" %></p>
  </li>
</ul>

<h1 id="culture" class="section-title">Cultura</h1>
<p><%= partial "content/culture/culture" %></p>

<ul>
  <li>
    <h1 id="team-pledge" class="article-title">Compromiso de Equipo</h1>
    <p><%= partial "content/culture/team-pledge" %></p>
  </li>
  <li>
    <h1 id="client-pledge" class="article-title">Compromiso de Cliente</h1>
    <p><%= partial "content/culture/client-pledge" %></p>
  </li>
  <li>
    <h1 id="mantra" class="article-title">Mantra</h1>
    <p><%= partial "content/culture/mantra" %></p>
  </li>
  <li>
    <h1 id="core-values" class="article-title">Valores Intrínsecos</h1>
    <p><%= partial "content/culture/core-values" %></p>
  </li>
  <li>
    <h1 id="rituals" class="article-title">Rituales</h1>
    <p><%= partial "content/culture/rituals" %></p>
  </li>
  <li>
    <h1 id="creative" class="article-title">Creative Time</h1>
    <p><%= partial "content/culture/creative" %></p>
  </li>
  <li>
    <h1 id="recognition" class="article-title">Reconocimiento</h1>
    <p><%= partial "content/culture/recognition" %></p>
  </li>
  <li>
    <h1 id="internships" class="article-title">Prácticas Profesionales</h1>
    <p><%= partial "content/culture/internships" %></p>
  </li>
  <li>
    <h1 id="workspace" class="article-title">Espacio de Trabajo</h1>
    <p><%= partial "content/culture/workspace" %></p>
  </li>
</ul>

<h1 id="hiring" class="section-title">Contratación</h1>
<ul>
  <li>
    <h1 id="recruitment" class="article-title">Reclutamiento Continuo</h1>
    <p><%= partial "content/hiring/recruitment" %></p>
  </li>
  <li>
    <h1 id="procedure" class="article-title">Entrevistas</h1>
    <p><%= partial "content/hiring/procedure" %></p>
  </li>
  <li>
    <h1 id="training" class="article-title">Entrenamiento</h1>
    <p><%= partial "content/hiring/training" %></p>
  </li>
  <li>
    <h1 id="career-path" class="article-title">Desarrollo Profesional</h1>
    <p><%= partial "content/hiring/path" %></p>
  </li>
</ul>


<h1 id="communication" class="section-title">Comunicación</h1>
<ul>
  <li>
    <h1 id="social" class="article-title">Redes Sociales</h1>
    <p><%= partial "content/communication/social" %></p>
  </li>
  <li>
    <h1 id="team" class="article-title">Comunicación de Equipo</h1>
    <p><%= partial "content/communication/team" %></p>
  </li>
  <li>
    <h1 id="meetups" class="article-title">Meetups</h1>
    <p><%= partial "content/communication/meetups" %></p>
  </li>
  <li>
    <h1 id="blogs" class="article-title">Blogs</h1>
    <p><%= partial "content/communication/blogs" %></p>
  </li>
</ul>
