# A playbook from hackers and designers <br /> to help the rest of the world <br />

<div>
  <img src="http://playbook.icalialabs.com/img/playbook.png"/>
</div>


# <a id="welcome"></a>Welcome

This is our playbook, a [living document](https://github.com/icalialabs/playbook)
of our practices, rituals and dynamics at [Icalia Labs](http://icalialabs.com).
We decided to share all of this because transparency is key in everything we do
today.

The main goal of this playbook is to share the way we work at
Icalia Labs. While this isn't a one-size-fits-all playbook that will work for
every company out there, it has worked for us at Icalia, and we hope it will
help as a point of reference for anyone looking to improve processes at
their company.

<h1 id="about" class="article-title">About Us</h1>
<p><%= partial "content/welcome/about" %></p>

<h1 id="management" class="section-title">Management</h1>
<ul>
  <li>
    <h1 id="mgmt-tools" class="article-title">Management tools</h1>
    <p><%= partial "content/management/tools" %></p>
  </li>
  <li>
    <h1 id="grooming" class="article-title">Grooming the product</h1>
    <p><%= partial "content/management/grooming" %></p>
  </li>
  <li>
    <h1 id="mgmt-sales" class="article-title">Sales involvement</h1>
    <p><%= partial "content/management/sales-involvement" %></p>
  </li>
</ul>

<h1 id="sales" class="section-title">Sales</h1>
<ul>
  <li>
    <h1 id="process" class="article-title">Process</h1>
    <p><%= partial "content/sales/process" %></p>
  </li>
  <li>
    <h1 id="leads" class="article-title">Leads</h1>
    <p><%= partial "content/sales/leads" %></p>
  </li>
  <li>
    <h1 id="estimates" class="article-title">Estimates</h1>
    <p><%= partial "content/sales/estimates" %></p>
  </li>
  <li>
    <h1 id="target-market" class="article-title">Target Market</h1>
    <p><%= partial "content/sales/target-market" %></p>
  </li>
  <li>
    <h1 id="bundles" class="article-title">Bundled Services</h1>
    <p><%= partial "content/sales/bundled-services" %></p>
  </li>
  <li>
    <h1 id="commissions" class="article-title">Commissions</h1>
    <p><%= partial "content/sales/commissions" %></p>
  </li>
</ul>

<h1 id="icalier-way" class="section-title">Process: the Icalier Way</h1>
<ul>
  <li>
    <h1 id="mvp" class="article-title">MVP</h1>
    <p><%= partial "content/process/mvp" %></p>
  </li>
  <li>
    <h1 id="existing-projects" class="article-title">Existing Projects</h1>
    <p><%= partial "content/process/existing-projects" %></p>
  </li>
  <li>
    <h1 id="consultancy" class="article-title">Consultancy</h1>
    <p><%= partial "content/process/consultancy" %></p>
  </li>
</ul>

<h1 id="design" class="section-title">Design</h1>
<ul>
  <li>
    <h1 id="setup" class="article-title">Setup</h1>
    <p><%= partial "content/design/setup" %></p>
  </li>
  <li>
    <h1 id="branding" class="article-title">Digital Branding</h1>
    <p><%= partial "content/design/branding" %></p>
  </li>
  <li>
    <h1 id="uiux" class="article-title">Interface & User Experience</h1>
    <p><%= partial "content/design/uiux" %></p>
  </li>
  <li>
    <h1 id="prototyping" class="article-title">Prototyping</h1>
    <p><%= partial "content/design/prototyping" %></p>
  </li>
  <li>
    <h1 id="interaction" class="article-title">Interaction with Development</h1>
    <p><%= partial "content/design/interaction" %></p>
  </li>
  <li>
    <h1 id="design-tools" class="article-title">Design Tools</h1>
    <p><%= partial "content/design/tools" %></p>
  </li>
</ul>

<h1 id="development" class="section-title">Development</h1>
<ul>
  <li>
    <h1 id="dev-intro" class="article-title"></h1>
    <p><%= partial "content/development/dev-intro" %></p>
  </li>
  <li>
    <h1 id="dev-setup" class="article-title">Setup</h1>
    <p><%= partial "content/development/setup" %></p>
  </li>
  <li>
    <h1 id="guides" class="article-title">Guides</h1>
    <p><%= partial "content/development/guides" %></p>
  </li>
  <li>
    <h1 id="web-apps" class="article-title">Web Applications</h1>
    <p><%= partial "content/development/web-apps" %></p>
  </li>
  <li>
    <h1 id="mobile-apps" class="article-title">Mobile Applications</h1>
    <p><%= partial "content/development/mobile-apps" %></p>
  </li>
  <li>
    <h1 id="best-practices" class="article-title">Best Practices</h1>
    <p><%= partial "content/development/best-practices" %></p>
  </li>
</ul>

<h1 id="production" class="section-title">Production</h1>
<ul>
  <li>
    <h1 id="maintenance" class="article-title">Maintenance</h1>
    <p><%= partial "content/production/maintenance" %></p>
  </li>
  <li>
    <h1 id="metrics" class="article-title">Metrics</h1>
    <p><%= partial "content/production/metrics" %></p>
  </li>
  <li>
    <h1 id="delivery" class="article-title">Continuous Delivery</h1>
    <p><%= partial "content/production/continuous-delivery" %></p>
  </li>
  <li>
    <h1 id="deployment" class="article-title">Deployment</h1>
    <p><%= partial "content/production/deployment" %></p>
  </li>
</ul>

<h1 id="culture" class="section-title">Culture</h1>
<p><%= partial "content/culture/culture" %></p>

<ul>
  <li>
    <h1 id="team-pledge" class="article-title">Team Pledge</h1>
    <p><%= partial "content/culture/team-pledge" %></p>
  </li>
  <li>
    <h1 id="client-pledge" class="article-title">Client Pledge</h1>
    <p><%= partial "content/culture/client-pledge" %></p>
  </li>
  <li>
    <h1 id="mantra" class="article-title">Mantra</h1>
    <p><%= partial "content/culture/mantra" %></p>
  </li>
  <li>
    <h1 id="core-values" class="article-title">Core Values</h1>
    <p><%= partial "content/culture/core-values" %></p>
  </li>
  <li>
    <h1 id="rituals" class="article-title">Rituals</h1>
    <p><%= partial "content/culture/rituals" %></p>
  </li>
  <li>
    <h1 id="creative" class="article-title">Creative Time</h1>
    <p><%= partial "content/culture/creative" %></p>
  </li>
  <li>
    <h1 id="recognition" class="article-title">Recognition</h1>
    <p><%= partial "content/culture/recognition" %></p>
  </li>
  <li>
    <h1 id="internships" class="article-title">Internships</h1>
    <p><%= partial "content/culture/internships" %></p>
  </li>
  <li>
    <h1 id="workspace" class="article-title">Workspace</h1>
    <p><%= partial "content/culture/workspace" %></p>
  </li>
</ul>

<h1 id="hiring" class="section-title">Hiring</h1>
<ul>
  <li>
    <h1 id="recruitment" class="article-title">Continuous Recruitment</h1>
    <p><%= partial "content/hiring/recruitment" %></p>
  </li>
  <li>
    <h1 id="procedure" class="article-title">Interviewing</h1>
    <p><%= partial "content/hiring/procedure" %></p>
  </li>
  <li>
    <h1 id="training" class="article-title">Training</h1>
    <p><%= partial "content/hiring/training" %></p>
  </li>
  <li>
    <h1 id="career-path" class="article-title">Career Path</h1>
    <p><%= partial "content/hiring/path" %></p>
  </li>
</ul>


<h1 id="communication" class="section-title">Communication</h1>
<ul>
  <li>
    <h1 id="social" class="article-title">Social Networks</h1>
    <p><%= partial "content/communication/social" %></p>
  </li>
  <li>
    <h1 id="team" class="article-title">Team Communication</h1>
    <p><%= partial "content/communication/team" %></p>
  </li>
  <li>
    <h1 id="meetups" class="article-title">Meetups</h1>
    <p><%= partial "content/communication/meetups" %></p>
  </li>
  <li>
    <h1 id="blogs" class="article-title">Blogs</h1>
    <p><%= partial "content/communication/blogs" %></p>
  </li>
</ul>
