---
title: Welcome to Middleman
---

# Our Playbook

<div>
  <img src="http://placehold.it/700x350"/>
</div>


# <a id="welcome"></a>Welcome

This is our playbook, a [living document](https://github.com/icalialabs/playbook) of our practices, rituals and dynamics we execute inside [Icalia Labs](http://icalialabs.com). We decided to share all of this because transparency has been a key element for us to start everything we do today.

We were able to start developing the first product thanks to open source software and experiences we found of many in different websites. We were inspired thanks to a tech community promoting local meetups, hackathons and critical talks between passionate individuals sharing all their knowledge.

The main goal of this playbook is to share the way we execute things inside Icalia Labs. We are pretty sure the way this areas work for us, aren't going to work the same for other companies. Although, it will help as a point of reference for anyone willing to compare or challenge the way things have been doing in their field, or simply help others to build something and be encouraged to do it.

Hope this piece will help anyone out there.


DEVELOPMENT
Version Control
Testing
Pair programming
Code Review
Refactor
<h1 id="about" class="article-title">About Us</h1>
<%= partial "content/welcome/about" %>

<h1 id="management" class="section-title">Management</h1>
<h1 id="mgmt-tools" class="article-title">Management tools</h1>
<%= partial "content/management/tools" %>
<h1 id="grooming" class="article-title">Grooming the product</h1>
<%= partial "content/management/grooming" %>
<h1 id="mgmt-sales" class="article-title">Sales involvement</h1>
<%= partial "content/management/sales-involvement" %>

<h1 id="operations" class="section-title">Operations (remove???)</h1>
<h1 id="frameworks" class="article-title">Frameworks</h1>
<%= partial "content/operations/frameworks" %>

<h1 id="sales" class="section-title">Sales</h1>
<h1 id="estimates" class="article-title">Estimates</h1>
<%= partial "content/sales/estimates" %>
<h1 id="leads" class="article-title">Leads</h1>
<%= partial "content/sales/leads" %>
<h1 id="process" class="article-title">Process</h1>
<%= partial "content/sales/process" %>
<h1 id="target-market" class="article-title">Target Market</h1>
<%= partial "content/sales/target-market" %>
<h1 id="bundles" class="article-title">Bundled Services</h1>
<%= partial "content/sales/bundled-services" %>
<h1 id="commissions" class="article-title">Commissions</h1>
<%= partial "content/sales/commissions" %>

<h1 id="culture" class="section-title">Culture</h1>
<h1 id="rituals" class="article-title">Rituals</h1>
  <%= partial "content/culture/rituals" %>
<h1 id="mantra" class="article-title">Mantra</h1>
  <%= partial "content/culture/mantra" %>

<h1 id="hiring" class="section-title">Hiring</h1>
<h1 id="interviews" class="article-title">Interviews</h1>
  <%= partial "content/hiring/interviews" %>
  <%= partial "content/hiring/path" %>
  <%= partial "content/hiring/procedure" %>
  <%= partial "content/hiring/recruitment" %>
  <%= partial "content/hiring/salary" %>
<h3 id="communication">Communication</h3>
